@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-align($align:center) {
  display: flex;
  flex-direction: column;
  align-items: $align;
}

@mixin flex-container($align-items:center, $justify-content:center) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin list-reset {
  list-style-type: none;
}

@mixin link-reset {
  text-decoration: none;
}

@mixin button-reset {
  border: 0;
  border-color: transparent;
  text-decoration: none;
}

@mixin container {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}
