$font-family-primary: "Oswald", "Tahoma", sans-serif;
$font-family-secondary: "Lato", "Arial", sans-serif;
$text-color-primary: #000000;
$text-color-secondary: #ffffff;
$text-color-tertiary: #444444;
$text-color-invitation: #111111;
$text-color-products-name: #111111;
$background-color-primary: #ffffff;
$background-color-secondary: #68b738;
$background-color-secondary-opacity: rgba(104, 183, 56, 0.85);
$background-color-tertiary: #f2f2f2;
$background-color-quaternary: #cdcdcd;
$background-color-line: #d9d9d9;
$background-color-plus: #d3d3d3;
$background-color-product-line: #ebebeb;
$backgroung-color-promo-image: #454449;
