.example {
  padding-top: 25px;
  background-color: $background-color-tertiary;

  &__title {
    margin-bottom: 40px;
  }

  &__description {
    margin-bottom: 20px;
  }

  &__stats {
    @include flex-column-align;
  }

  &__list {
    @include flex-container(center, space-between);
    width: 280px;
    margin-bottom: 34px;
  }

  &__item {
    @include flex-container;
    width: 124px;
    height: 56px;
    border: 1px solid $background-color-quaternary;
    border-radius: 3px;
    position: relative;
  }

  &__number {
    @include flex-container;
    font-family: $font-family-primary;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: $text-color-primary;
  }

  &__explanation {
    position: absolute;
    bottom: -15px;
    right: 0;
    left: 0;
    display: inline-block;
    margin: 0 auto;
    padding: 0 10px;
    width: 77px;
    font-family: $font-family-secondary;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: $text-color-tertiary;
    background-color: $background-color-tertiary;
  }

  &__cost-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: $text-color-primary;
  }
}
