.main-header {
  @include flex-container(center, space-between);
  width: 100%;
  min-height: 65px;
  padding-top: 13px;
  padding-bottom: 14px;
  background-color: $background-color-primary;

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
  }

  &--underlined {
    border-bottom: 1px solid $background-color-line;
  }
}
