.products {
  padding: 27px 0 25px;

  &__title {
    margin-bottom: 41px;
  }

  &__list {
    @include list-reset;
    @include flex-column;
  }

  // &__item {
  //   border-bottom: 1px solid $background-color-product-line;
  // }

  // &__item:first-child {
  //   border-top: 1px solid $background-color-product-line;
  // }

  &__button {
    grid-column: span 2;
  }
}
