.promo {
  background: linear-gradient($background-color-secondary-opacity 0 61%, $background-color-primary 61% 100%), url("../img/index-promo-bg-mobile.png");
  background-color: $background-color-secondary;
  background-repeat: no-repeat;
  background-position: center, top center;
  background-size: cover, contain;
  &__wrapper {
    @include flex-column-align;
    padding-top: 27px;
    padding-bottom: 20px;
    margin-top: 65px;
  }

  &__title {
    margin-bottom: 25px;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 29px;
    text-align: center;
  }

  &__image {
    display: block;
    object-fit: cover;
    width: 280px;
    height: 272px;
  }

  &__button {
    width: 100%;
  }
}
