.promo {
  &__wrapper {
    @include flex-column-align;
    padding-top: 27px;
    padding-bottom: 20px;
    margin-top: 65px;
    background: linear-gradient(to bottom, $background-color-secondary-opacity 63%, $background-color-primary 37%), url("../img/index-promo-bg.png");
    background-color: $background-color-secondary;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover, contain;
  }

  &__title {
    margin-bottom: 25px;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 29px;
    text-align: center;
  }

  &__image {
    display: block;
    object-fit: cover;
    width: 280px;
    height: 272px;
  }

  &__button {
    width: 100%;
  }
}
