@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/lato-regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswald-regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswald-medium.woff2") format("woff2");
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  min-width: 320px;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.button {
  padding: 10px 44px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -webkit-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 0;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #68b738;
  color: #ffffff;
  cursor: pointer;
}
.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
}

.logo {
  display: block;
}

.logo-text {
  display: block;
}

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
.title--main {
  color: #ffffff;
}
.title--secondary {
  font-size: 24px;
  line-height: 24px;
}

.subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 65px;
  padding-top: 13px;
  padding-bottom: 14px;
  background-color: #ffffff;
}
.main-header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.main-header--underlined {
  border-bottom: 1px solid #d9d9d9;
}

.main-nav {
  display: none;
}

.promo {
  background: linear-gradient(rgba(104, 183, 56, 0.85) 0 61%, #ffffff 61% 100%), url("../img/index-promo-bg-mobile.png");
  background-repeat: no-repeat;
  background-position: center, top center;
  background-size: cover, contain;
}
.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 20px;
}
.promo__title {
  margin-bottom: 25px;
  text-align: center;
}
.promo__subtitle {
  margin-bottom: 29px;
  text-align: center;
}
.promo__image {
  display: block;
  object-fit: cover;
  width: 280px;
  height: 272px;
}
.promo__button {
  width: 100%;
}

.main {
  padding-top: 65px;
}

.programmes {
  padding-bottom: 20px;
  background-color: #ffffff;
}
.programmes__list {
  list-style-type: none;
  display: grid;
  row-gap: 22px;
}

.program-card {
  display: grid;
  grid-template-columns: 75px 1fr;
  padding: 24px 18px 18px 20px;
  background-color: #f2f2f2;
}
.program-card::before {
  content: "";
  display: block;
}
.program-card__title {
  grid-column: 2;
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #444444;
}
.program-card__description {
  grid-column: span 2;
  padding-bottom: 23px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
}
.program-card__link {
  position: relative;
  grid-column: span 2;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.program-card__link::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 94px;
  width: 32px;
  height: 12px;
  background-image: url("../icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.description {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.how-it-works {
  padding-bottom: 49px;
  background-color: #ffffff;
}
.how-it-works__title {
  margin-bottom: 40px;
}
.how-it-works__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 60px 1fr;
  row-gap: 20px;
}
.how-it-works__item {
  display: grid;
  grid-column: 2;
}

.example {
  padding-top: 25px;
  background-color: #f2f2f2;
}
.example__title {
  margin-bottom: 40px;
}
.example__description {
  margin-bottom: 20px;
}
.example__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.example__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  margin-bottom: 34px;
}
.example__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  position: relative;
}
.example__number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}
.example__explanation {
  position: absolute;
  bottom: -15px;
  right: 0;
  left: 0;
  display: inline-block;
  margin: 0 auto;
  padding: 0 10px;
  width: 77px;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #444444;
  background-color: #f2f2f2;
}
.example__cost-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.main-footer {
  background-color: #f2f2f2;
}

.location--index {
  background-color: #ffffff;
}
.location__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;
}
.location__invitation {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
.location__address {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #444444;
}

.footer-contacts {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-contacts__item:not(:last-child) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.socials__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 132px;
}
.socials__link {
  position: relative;
  display: block;
  min-width: 28px;
  min-height: 22px;
}
.socials__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.copyright {
  width: 100%;
}
.copyright__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright__text {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}
.copyright__icon {
  display: block;
}

.products {
  padding: 27px 0 25px;
}
.products__title {
  margin-bottom: 41px;
}
.products__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.products__button {
  grid-column: span 2;
}

.product-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 17px;
  padding: 20px 20px 25px;
  border-bottom: 1px solid #ebebeb;
}
.product-card__button {
  grid-column: span 2;
}
.product-card__title-link {
  text-decoration: none;
}
.product-card__title {
  width: 76px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
.product-card__title--additional {
  width: 100%;
}
.product-card__title--show-more {
  width: 100%;
  padding: 0 38px;
  margin-bottom: 8px;
}
.product-card__description-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.product-card--show-more {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.product-card--show-more::before, .product-card--show-more::after {
  content: "";
  top: 34px;
  left: 145px;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
}
.product-card--show-more::before {
  transform: rotate(90deg);
}
.product-card__text-wrapper {
  margin-top: 53px;
  text-align: center;
}
.product-card__info {
  padding: 0 30px;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}
.product-card--without-picture {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 13px 0 19px;
}
.product-card--border-top {
  border-top: 1px solid #ebebeb;
}

.additional-products__title {
  margin-bottom: 36px;
}
.additional-products__list {
  list-style-type: none;
  margin-bottom: 35px;
}
.additional-products__item {
  border-color: #cdcdcd;
}
.additional-products__gift {
  margin-bottom: 35px;
}

.gift {
  display: flex;
  justify-content: center;
  min-height: 290px;
  padding-top: 187px;
  padding-bottom: 43px;
  background: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../img/catalog/bg-cat.jpg") right no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gift__text {
  position: relative;
  width: 161px;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
.gift__text::before {
  content: "";
  position: absolute;
  bottom: 107px;
  left: 40px;
  width: 78px;
  height: 80px;
  background-image: url("../icons/catalog/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/*# sourceMappingURL=style.css.map */