.additional-product-card {
  @include flex-column;
  gap: 13px;
  padding: 13px 0 19px;

  &__title {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $text-color-products-name;
  }

  &__description-item {
    @include flex-container(center, space-between);
    font-family: $font-family-secondary;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: $text-color-tertiary;
  }
}
