.gift {
  display: flex;
  justify-content: center;
  min-height: 290px;
  padding-top: 187px;
  padding-bottom: 43px;
  background: linear-gradient($background-color-secondary-opacity 0%, $background-color-secondary-opacity 100%), url("../../images/catalog/gift-background@1x.jpg") right no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 2dppx) {
  .gift {
    background: linear-gradient($background-color-secondary-opacity 0%, $background-color-secondary-opacity 100%), url("../../images/catalog/gift-background@2x.jpg") right no-repeat;
  }
}

.gift__text {
  position: relative;
  width: 161px;
  font-family: $font-family-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $background-color-primary;

  &::before {
    content: "";
    position: absolute;
    bottom: 107px;
    left: 40px;
    width: 78px;
    height: 80px;
    background-image: url("../icons/catalog/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
