.how-it-works {
  @include container;
  padding-bottom: 49px;
  background-color: $background-color-primary;

  &__title {
    margin-bottom: 40px;
  }

  &__list {
    @include list-reset;
    display: grid;
    grid-template-columns: 60px 1fr;
    row-gap: 20px;
  }

  &__item {
    display: grid;
    grid-column: 2;
  }
}
