.program-card {
  display: grid;
  grid-template-columns: 75px 1fr;
  padding: 24px 18px 18px 20px;
  background-color: $background-color-tertiary;

  &__title {
    grid-column: 2;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    color: $text-color-tertiary;
  }

  &__description {
    grid-column: span 2;
    padding-bottom: 23px;
    margin-bottom: 15px;
    border-bottom: 1px solid $background-color-line;
  }

  &__link {
    @include link-reset;
    position: relative;
    grid-column: span 2;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: $text-color-primary;
  }

  &__link::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 94px;
    width: 32px;
    height: 12px;
    background-image: url("../icons/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
