.promo {
  background: linear-gradient($background-color-secondary-opacity 0 60%, $background-color-primary 60% 100%), url("../../images/promo-bg-mobile@1x.png"), linear-gradient($backgroung-color-promo-image 0 100%);
  background-repeat: no-repeat;
  background-position: center, top, center;
  background-size: cover, 320px auto, cover;
}

@media (min-resolution: 2dppx) {
  .promo {
    background: linear-gradient($background-color-secondary-opacity 0 60%, $background-color-primary 60% 100%), url("../../images/promo-bg-mobile@2x.png"), linear-gradient($backgroung-color-promo-image 0 100%);
  }
}

.promo__wrapper {
  @include container;
  @include flex-column-align;
  padding-top: 29px;
  padding-bottom: 23px;
}

.promo__title {
  margin-bottom: 25px;
  text-align: center;
}

.promo__subtitle {
  font-family: $font-family-secondary;
  margin-bottom: 29px;
  text-align: center;
}

.promo__image {
  display: block;
  object-fit: cover;
}

.promo__button {
  width: 100%;
}
