.promo {
  background: linear-gradient($background-color-secondary-opacity 0 60%, $background-color-primary 60% 100%), url("../../images/promo-bg-mobile@2x.png"), linear-gradient($backgroung-color-promo-image 0 100%);
  background-repeat: no-repeat;
  background-position: center, top, center;
  background-size: cover, 320px auto, cover;

  &__wrapper {
    @include flex-column-align;
    padding-top: 29px;
    padding-bottom: 23px;
  }

  &__title {
    margin-bottom: 25px;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 29px;
    text-align: center;
  }

  &__image {
    display: block;
    object-fit: cover;
  }

  &__button {
    width: 100%;
  }
}
